
.input textarea{
    width: 300px;
    height: 200px;
    margin-right: 15px;
}
.input td:nth-child()>textarea{
    margin-right: 0;
}
.input input:not([type="checkbox"]){
    margin-right: 5px;
}
canvas{
    border: 1px solid black;
}
td.label{
    vertical-align: middle;
    min-width: 2em;
    text-align: right;
}
div.input-row{
    margin-bottom: 10px;
}
.hide {
    display: none;
}
#main{
    float:left;
    margin-left: 10px;
}
#status{
    float : left;
    width: 580px;
    min-height: 60px;
    margin: 5px;
    background-color: #eeb;
    padding: 5px;
}
.err{
    background-color: #fbb !important;
}
.warn{
    background-color: #fc7 !important;
}
#start{
    float: left;
    width : 100px;
    height: 50px;
    margin: 15px 0 0 5px;
}
#redraw{
    float: right;
    width : 100px;
    height: 50px;
}